.LeftSidebarDiv{
    height:calc(100vh-2.8rem);
    display: flex;
    flex-direction: column;
    gap:0.8rem;
    width:7rem;
    position:relative;
    z-index: 1;
    color:aliceblue;
    background-color: rgba(0,0,0,0.888);
}
.SideBarIconsDiv{
    display: flex;
    flex-direction:column;
    color:aliceblue;
    text-decoration: none;
}
.IconsText{
    text-align: center;
    margin-top: -0.05rem;
    text-decoration: none;
    color:aliceblue;
}
.SideBarIcons{
    margin-left: 2.7rem;
}
@media (min-width:320px) and (max-width:480px){
    .LeftSidebarDiv{
        display: none;
    }
}