.SearchListDiv{
    background-color:white;
    color:black;
    position: absolute;
    margin-top:3rem;
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    z-index:100;
}
.list-item{
    width:25rem;
}