.languagelistdiv{
    width:13rem;
    height:15rem;
    z-index:2;
    background-color: black;
    position: relative;
    overflow-y: scroll;
}
.languagelistdiv::-webkit-scrollbar{
    display: none;
}
.searchlanguage{
    background-color:black ;
    color:aliceblue;
    margin-left:0.7rem;
    margin-top: 1rem;
    padding-left: 20px;
}
.searchlanguageicon{
    position: absolute;
    margin-left:1rem;
    margin-top: 1rem;
}
.languagelistdiv3{
    text-align: center;
    padding-top: 0.2rem;
}
.languagelistdiv2{
    overflow-y: scroll;
}
.languagelistdiv2::-webkit-scrollbar{
    display: none;
}