.VideoGrid{
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
    row-gap: 2rem;
    z-index:1;
}
@media (min-width:320px) and (max-width:480px){
    .VideoGrid{
        display:block;
        z-index:1; 
    }
}
@media (min-width:481px) and (max-width:1129px){
    .VideoGrid{
        display:flex;
        flex-wrap: wrap;
    }
}
